body {
	background-color: rgb(190, 242, 147);
	text-align: center;
	color: rgb(46, 21, 21);
	font-family: Arial, Helvetica, sans-serif;
}

.game-title {
    font-size: 3rem;
    font-weight: bold;
    color: #00ff88;
    text-shadow: 3px 3px 0 #000000,
                -3px 3px 0 #000000,
                3px -3px 0 #000000,
                -3px -3px 0 #000000;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 20px 0;
}

table {
	margin: 100px auto;
	margin-top: 20px;
	border: 1px solid lightgray;
}

.board-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100%; */
	height: auto; 
	width: 100%;
	position: relative;
	margin-bottom: 20px; 
}



.cell {
	width: 30px;
    height: 30px;
	font-size: 1.2em;
    font-weight: bold;
    border: 3px solid;
    border-color: #ffffff #808080 #808080 #ffffff;
    background-color: #c0c0c0;
     cursor: pointer;

} 

 

.cell.revealed {
    border: 1px solid #808080;
    background-color: #d1d1d1;
    border-style: solid;
}

.cell:not(.revealed):active {
    border-color: #808080 #ffffff #ffffff #808080;
    background-color: #d1d1d1;
}


.mine-img {

    width: 25px;
	height: 25px;
    background-color:  #ffffff;
    
}

.game-over {

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(247, 194, 19, 0.95);
	border: 2px solid var(--primary-color);
	border-radius: 15px;
	padding: 25px 25px;
	text-align: center;
	backdrop-filter: blur(10px);
	box-shadow: 0 0 40px rgba(0, 255, 136, 0.3);
	z-index: 1000;
}

.restart {
	/* margin: 100px auto; */
	margin-top: 15px;
	border-radius: 5px;
	padding: 10px 80px;

}



.lives {

	font-size: 3rem;

}

.hints-container {

	font-size: 3rem;
	margin-bottom: 60px;

}
.hint {
	cursor: pointer;
}

.hint.inUsed {
    font-size: 4rem;
	transition: transform 0.3s; 
	cursor: pointer;
}


.levelsButtons-container {
    display: flex;
    gap: 30px; 
    justify-content: center;
    margin: 20px 0;
	
}

.diff-btn {
    padding: 12px 25px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.easy {
    background-color: #4CAF50;  
    color: white;
}

.medium {
    background-color: #2196F3;  
    color: white;
}

.hard {
    background-color: #f44336; 
    color: white;
}


.diff-btn:hover {
    transform: translateY(-5px);
}

.timer-smiley-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px auto;
    width: 100%;
}


.smiley{
	cursor: pointer;
	position: absolute;

	margin-top: -100px;
	height: 100%;
	width: 100%;
	left: 50%;
	font-size: 4rem;
	transform: translateX(-50%);
}


.game-timer {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #f0f0f0;  /* צבע בהיר יותר */
    border-radius: 8px;
    position: absolute;
    left: calc(50% + 80px);  /* ממוקם 80px מימין למרכז */
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}